body {
	font-family: MISans;
}
.v-code{
	font-family: 'monospace', 'Consolas', 'Courier','Courier New';
	background-color: rgba(var(--mdui-color-surface-variant),.28);
}
.HyperBlue {
	color: #2655ff!important;
	text-decoration: none;
}
mdui-chip :hover{
	color: #2655ff;
	text-decoration: underline
}
mdui-ripple div :surface :hover{
	padding:10px!important;
}
.Center {
	margin: 10px;
	text-align: center;
}
.myiCon {
	font-family: "iconfont";
	text-align: right;
}
/* .v-toolbar-title{
	font-size: larger!important;
	font-weight: bolder!important;
} */
.v-main{
	height: 100vh;
}
.v-tab--selected{
	color: #2655ff;
}
.v-slide-group-item--active{
	color: 103,80,164;
}
a{
	color: #2655ff;
	text-decoration: none;
}
.NavLinks{
	text-decoration: none;
	font-weight: lighter!important;
	color:black;
}
.NavLinks a{
	text-decoration: none;
	font-weight: lighter!important;
	color:black;
}
b{
	font-weight: light;
}