body {
	font-family: MISans;
}
.v-code {
	font-family: "monospace", "Consolas", "Courier", "Courier New";
	background-color: rgba(var(--mdui-color-surface-variant), 0.28);
}

@layer vuetify-core.reset {
	* {
		padding: 0;
		margin: 0;
	}
	a:active,
	a:hover {
		outline-width: 0;
	}
	code,
	kbd,
	pre,
	samp {
		font-family: monospace;
	}
	pre {
		font-size: 1em;
	}
	small {
		font-size: 80%;
	}
	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}
	sub {
		bottom: -0.25em;
	}
	sup {
		top: -0.5em;
	}
	textarea {
		resize: vertical;
	}
	button,
	input,
	select,
	textarea {
		background-color: transparent;
		border-style: none;
	}
	select {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
	}
	legend {
		display: table;
		max-width: 100%;
		white-space: normal;
	}
}

mdui-chip :hover {
	color: #2655ff;
	text-decoration: underline;
}
mdui-ripple div :surface :hover {
	padding: 10px !important;
}
.Center {
	margin: 10px;
	text-align: center;
}
.v-tab__slider {
	height: 0px !important;
}
.v-tab--active {
	text-underline-offset: none;
}
.v-slide-group-item--active {
	text-underline-offset: none;
}
.v-tab--selected {
	text-underline-offset: none;
}
.myiCon {
	font-family: "iconfont";
	text-align: right;
}
.v-main {
	height: 100vh;
}
a {
	color: #2655ff;
	text-decoration: none;
}
.v-slide-group-item {
	--active: none !important;
}
.NavLinks {
	text-decoration: none;
}
.NavLinks a {
	text-decoration: none;
}
b {
	font-weight: light;
}
.v-card-text {
	font-size: 16px !important;
}
.list-table-menu:not(:first-child) {
	display: none;
}
.developing {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}
.devinfo {
	margin-left: 10px;
	font-weight: bold !important;
}
.MIUI {
	color: #ff6900 !important;
}
.text-HyperBlue {
	color: #2655ff;
}
